<!--
@File   : footer.html
@Author : Andrew Archer ({__email})
@Link   : 
@Date   : 2018-4-22 20:11:27
-->
<div class="footer">
	<img src="../../images/bomb.svg"height="32px"  width="32px">  
	<span>footer</span>
</div>