<!DOCTYPE html>
<!--
@File   : about.html
@Author : Andrew Archer ({__email})
@Link   : 
@Date   : 2018-4-22 00:17:24
-->
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>   
        <div id="menu">
            <%= require('html-loader!./common/menu1.ejs') %>
        </div>
        <div class="main">
            
            <%= require('html-loader!./common/header.ejs') %>
        
            <div id="content">
                <h1>test</h1>
                <h1>Some content goes here!!!</h1>
            </div>
        
            <%= require('html-loader!./common/footer.ejs') %>
        </div>
    </body>
</html>